[submodule "addons/FracturalCommons"]
	path = addons/FracturalCommons
	url = https://github.com/Fractural/FracturalCommons.git
	branch = release
[submodule "addons/GodotFixedVolatilePhysics"]
	path = addons/GodotFixedVolatilePhysics
	url = https://github.com/Fractural/GodotFixedVolatilePhysics.git
	branch = release
[submodule "addons/GodotRollbackNetcodeMono"]
	path = addons/GodotRollbackNetcodeMono
	url = https://github.com/Fractural/GodotRollbackNetcodeMono.git
	branch = release
[submodule "addons/godot-rollback-netcode"]
	path = addons/godot-rollback-netcode
	url = https://github.com/Fractural/GodotRollbackNetcodeMono.git
	branch = godot-rollback-netcode
